<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf8">

    <style>
     body {
        overflow: hidden;
        background-color: rgb(3, 99, 167)
     }
     canvas {
        display: block;
        margin: 0 auto;
     }
    </style>

    <div id='username' hidden><%= username %></div>
    <script src="./game.js"></script>

</head>

<body>
    <div class="gameContainer"></div>
</body>

</html>
