<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../client/style.css">
    <%- include('header.ejs') %>
</head>

<body>
    <main>
        <div class="jumbotron">
            <% if(rankings != null) { %>
            <% rankings.forEach(function(stats){ %>
                <h1>user:<%= stats.username %> - score:<%= stats.score %> - rank:<%= stats.rank %></h1>
            <% }); %>
            <% } else { %>
                <h1>No records yet.</h1>
            <% } %>
        </div>
    </main>
</body>

</html>